#content_m{
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    /*height:*/ 
    background-color: #0066A4;
}

.navbar-nav>li>a {
    color: #428bca !important;
}
#preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: ;*/
    z-index: 9999;
    background: url("../images/712.GIF") center no-repeat rgba(73, 73, 73, 0.45);
}

.settings-panel{
    width: 300px;
    position: fixed;
    top: 0;
    bottom: -50px;
    right: -300px;
    z-index: 1040;
    overflow: auto;
}
.pointer{
    cursor: pointer;
}
.qq-upload-list {
    display: none;
}
.list-group-item{
    overflow: hidden;
}

#myVideo{
    width: 160px;
    position: absolute;
    bottom: 0;
}

#remoteVideo{
    width: 580px;
    min-height: 430px;
    background: url("../images/con.GIF") center no-repeat #747474;
}

